*{
    padding: 0;
    margin: 0;
}
.container{

}

.nav{
    background-color: rgb(255, 73, 103);
    display: flex;
}

.nav i{
    margin-right: 5px;
    font-size: 30px;
    color: rgb(255, 217, 0);
}
.nav h1{
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    font-family: "Kanit", sans-serif;
    cursor: pointer;
    margin-left: 35px;
}
.nav h1 span{
    color: rgb(255, 217, 0);
}

.but{
    width: 70%;
    text-align: right;
    padding: 10px 20px;
   
}
.but button{
    padding: 10px 20px;
    margin: 10px;
    border: 0;
    border-radius: 10px;
    background-color: rgb(255, 117, 158);
    cursor: pointer;
}
.but button a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
.but button a:hover{
    font-size: 19px;
}
.box{
    height: 100vh;
    width: 100%;
    border-top: 1px solid rgba(128, 128, 128, 0.651) ;
    margin: auto;
    display: flex;
}

.box1{
    height: 90vh;
    width: 25%;
    margin: 5px;
}

.box2{
   
    height: 90vh;
    width: 75%;
    border-left: 3px dotted gray;
    margin: 5px;
}

.box1 ul{
    list-style: none;
    text-align: left;
}
.box1 ul li{
    padding: 10px;
}

.box1 ul li a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: black;
}